---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="ADMIN | SANCTUARY">
  <main
    class="min-h-screen bg-black container mx-auto px-4 py-20 flex flex-col items-center justify-center"
  >
    <div class="max-w-xl text-center space-y-8">
      <h1
        class="text-6xl font-black uppercase text-white tracking-widest leading-none mb-8"
      >
        Admin Sanctuary
      </h1>
      <p
        class="text-amber-500 font-bold uppercase tracking-widest text-lg mb-12"
      >
        Sacred Management Dashboard
      </p>
      <div class="grid grid-cols-2 gap-4">
        <a
          href="/admin/inventory"
          class="p-8 border border-zinc-900 hover:border-amber-500 transition-colors cursor-pointer group flex flex-col items-center gap-4"
        >
          <span
            class="text-white text-sm uppercase font-bold tracking-tighter transition-colors"
            >Sacred Inventory</span
          >
        </a>
        <a
          href="/admin/products"
          class="p-8 border border-zinc-900 hover:border-amber-500 transition-colors cursor-pointer group flex flex-col items-center gap-4"
        >
          <span
            class="text-white text-sm uppercase font-bold tracking-tighter transition-colors"
            >Sacred Catalog CRUD</span
          >
        </a>
        <a
          href="/admin/preorders"
          class="p-8 border border-zinc-900 hover:border-amber-500 transition-colors cursor-pointer group flex flex-col items-center gap-4"
        >
          <span
            class="text-white text-sm uppercase font-bold tracking-tighter transition-colors"
            >Preorders</span
          >
        </a>
        <a
          href="/admin/collections"
          class="p-8 border border-zinc-900 hover:border-amber-500 transition-colors cursor-pointer group flex flex-col items-center gap-4"
        >
          <span
            class="text-white text-sm uppercase font-bold tracking-tighter transition-colors"
            >Collections</span
          >
        </a>
        <a
          href="/admin/categories"
          class="p-8 border border-zinc-900 hover:border-amber-500 transition-colors cursor-pointer group flex flex-col items-center gap-4"
        >
          <span
            class="text-white text-sm uppercase font-bold tracking-tighter transition-colors"
            >Categories</span
          >
        </a>
      </div>
    </div>
  </main>
</MainLayout>
