---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="PRODUCT | DETAIL">
  <main class="min-h-screen bg-black">
    <div class="container mx-auto px-4 py-20 flex gap-20">
      <div class="w-1/2 aspect-square border border-zinc-900 group relative">
        <div class="absolute inset-0 bg-zinc-900 animate-pulse"></div>
      </div>
      <div class="flex-1 space-y-12">
        <div class="border-b border-zinc-900 pb-8">
          <h1 class="text-5xl font-black uppercase text-white leading-none">
            Gemini Saga (Myth Cloth EX)
          </h1>
          <span
            class="text-amber-500 font-black block mt-4 text-xs tracking-widest uppercase"
            >Tamashii Nations Limited</span
          >
        </div>
        <div
          class="space-y-4 text-white uppercase font-bold text-xs tracking-widest text-zinc-400"
        >
          <p>Height: 18cm</p>
          <p>Material: Die-cast & ABS</p>
          <p>Status: Pre-order</p>
        </div>
        <button
          class="w-full bg-amber-500 text-black py-4 font-black uppercase tracking-widest hover:bg-amber-400 transition-colors"
          >Add to Sanctuary Collection</button
        >
      </div>
    </div>
  </main>
</MainLayout>
