---
import ProductCard from "./ProductCard.astro";

interface Props {
  products: {
    id: string;
    name: string;
    character: string;
    line: string;
    price: number;
    image: string;
    status: string;
    preorder?: {
      etaLabel?: string | null;
      availableUnits: number;
      totalUnits: number;
      depositAmount: number;
      isOpen: boolean;
    };
  }[];
}

const { products } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-[24px]">
  {products.map((product) => <ProductCard product={product} />)}
</div>
